## Import necessary libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings as wr
wr.filterwarnings("ignore")
plt.style.use("default")
sns.set(font_scale=1.1)

## Load the Dataset

In [4]:
df = pd.read_csv(r"C:\Users\Din islam\Downloads\ai_dev_task_success_rate_prediction\AI_Developer_Performance_Extended_1000.csv")
df.head()

,Hours_Coding,Lines_of_Code,Bugs_Found,Bugs_Fixed,AI_Usage_Hours,Sleep_Hours,Cognitive_Load,Task_Success_Rate,Coffee_Intake,Stress_Level,Task_Duration_Hours,Commits,Errors
0,7,416,9,7,6,5.9,92,34,7,99,10.5,20,3
1,4,269,16,13,5,5.1,85,36,2,100,9.5,17,8
2,11,439,3,0,2,6.2,38,79,2,55,18.3,35,2
3,8,472,15,9,4,4.2,26,94,5,30,12.6,28,4
4,5,265,19,16,5,8.1,82,33,6,82,7.0,25,9

#### Basic info about the dataset

In [5]:
# to know the number of columns and rows in the dataset
df.shape

(1000, 13)

In [6]:
# To know the datatype of each column and if there are any null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Hours_Coding         1000 non-null   int64
 1   Lines_of_Code        1000 non-null   int64
 2   Bugs_Found           1000 non-null   int64
 3   Bugs_Fixed           1000 non-null   int64
 4   AI_Usage_Hours       1000 non-null   int64
 5   Sleep_Hours          1000 non-null   float64
 6   Cognitive_Load       1000 non-null   int64
 7   Task_Success_Rate    1000 non-null   int64
 8   Coffee_Intake        1000 non-null   int64
 9   Stress_Level         1000 non-null   int64
 10  Task_Duration_Hours  1000 non-null   float64
 11  Commits              1000 non-null   int64
 12  Errors               1000 non-null   int64
dtypes: float64(2), int64(11)
memory usage: 101.7 KB

In [8]:
# In this dataset, there are 1000 rows and 10 columns. 
# All the columns are of numerical datatype and there are no null values in any column.